*{
    font-family:sans-serif;
    text-align: center;  
    box-sizing: border-box;
    margin: 4%;

}

body{
    background: linear-gradient(#FFB319,#FFE194,#E8F6EF,#B8DFD8);
    background-color: aqua;
}