*{
    font-family:sans-serif;
    box-sizing: border-box;
}
H1,H2{
    
    text-align: center;  
    
}
section{
    width: 100%;
    height: 100vh;
}
body{
    
    background: linear-gradient(#FFB319,#FFE194,#E8F6EF,#B8DFD8);
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    
}