*{
    font-family:sans-serif;
    box-sizing: border-box;
}
H1,H2{
    
    text-align: center;  
    
}
section{
    width: 100%;
    height: 95vh;
}
body{
    
    background: linear-gradient(#084594,#085E7D,#008E89,#FFD32D);
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
    
}